.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-Button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
}

.tw-followCard-Button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}


.tw-followCard-Button:hover{
    background-color: #9c9696;
    transition: .3s ease background-color;
}

.tw-follow-card-text {
    display: block;
}

.tw-followCard-Button.is-following:hover{
    background-color: rgba(255, 0, 0, 0.26);
    color: red;
    transition: .3s ease background-color;
    border: 1px solid red;
}

.tw-followCard-Button.is-following:hover .tw-follow-card-stop-follow {
    display: block;
}

.tw-follow-card-stop-follow {
    display: none;
}

.tw-followCard-Button.is-following:hover .tw-follow-card-text {
    display: none;
}